<h1>和 <%= @chat.with(current_user).name %> 的信息</h1>
<div class="col-md-3">
<table class="table">
    <thead>
      <tr>
      <h4>好友列表</h4>
      </tr>
    </thead>
    <tbody>
    <% @friends.each do |friend| %>
      <tr>
        <td>
          <%= link_to friend.name, new_message_path(reader_id: friend)%>
        </td>
        <td>
          <%= link_to 'delete',friendship_path(friend), method: :delete,
          class: 'btn btn-xs btn-danger', data: { confirm: "删除这个好友?"}%>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
<div class="col-md-9" id="chat-main">
  <div id="chat-body">
    <%= render @chat.messages %>
  </div>
  <%= simple_form_for @message do |f| %>

  <%= f.input :body, :label => "信息内容" %>

  <%= f.submit "发送" %>
  <% end %>
</div>
